<%- include("partials/header") %>
<div class="container mt-5">
		<form class="form p-3" action ="/users" method="POST">
			<h1 class=" mb-4">
					NEW USER
			</h1>
			<hr>
			<div>
				<div class="row form-group mb-1">
					<div class="col-12">
						<label for="user[FirstName]">First Name: </label>
					</div>
					<div class="col-12">
						<input  class="form-control" type="text" name="user[FirstName]" placeholder="First name">
					</div>
				</div>
				<br/>
				<div class="row form-group mb-1">
					<div class="col-12">
						<label  for="user[LastName]">Last Name: </label>
					</div>
					<div class="col-12">
						<input class="form-control" type="text" name="user[LastName]" placeholder="Last name">
					</div>
				</div>
				<br/>
				<div class="row form-group mb-1">
					<div class="col-12">
						<label for="user[Comment]">Reviews: </label>
					</div>
					<div class="col-12">
						<textarea class="form-control" rows="10" name="user[Comment]" placeholder="Your reviews"></textarea>
					</div>
				</div>
				<br/>
			<div class="row form-group mb-1">
				<div class="col-12">
					<input class="form-group btn btn-sm btn-info" type="submit">
				</div>
			</div>
			</div>
		</form>
	</div>

<%- include("partials/footer") %>